<mat-card>
  <mat-card-title>Create a draughts game</mat-card-title>
  <form class="container" [formGroup]="createGameForm">

    <mat-form-field hintLabel="Max 10 characters">
      <mat-label>Enter your player name</mat-label>
      <input matInput #input formControlName="playerName" maxlength="10" placeholder="Ex. Nougat" required>
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
      <mat-error *ngIf="playerNameControl.invalid">{{getPlayerNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <div>
      <label>Choose your pieces color : </label>
      <mat-radio-group [required]="true" formControlName="piecesColor">
        <mat-radio-button value="0">Dark</mat-radio-button>
        <mat-radio-button value="1">Light</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="piecesColorControl.invalid">{{getPiecesColorErrorMessage()}}</mat-error>
    </div>

    <button mat-raised-button color="accent" (click)="onClickCreateAGame()">Create a game</button>
  </form>
</mat-card>
