<mat-card>
  <mat-card-title>{{messages.createDGame}}</mat-card-title>
  <form class="container" [formGroup]="createGameForm">

    <mat-form-field [hintLabel]="getHintLabel()" id="input-player-name">
      <mat-label>{{messages.enterPlayerName}}</mat-label>
      <input  matInput #input formControlName="playerName" [maxlength]="maxPlayerNameLenght"  required>
      <mat-hint align="end">{{input.value?.length || 0}}/{{maxPlayerNameLenght}}</mat-hint>
      <mat-error *ngIf="playerNameControl.invalid">{{getPlayerNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <div>
      <label>{{messages.choosePieces}} :  </label>
      <mat-radio-group id="radio-group-pieces-color" [required]="true" formControlName="piecesColor">
        <mat-radio-button [value]="pieceColor.value"  *ngFor="let pieceColor of piecesColors">
          {{pieceColor.label}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="piecesColorControl.invalid">{{getPiecesColorErrorMessage()}}</mat-error>
    </div>

    <button id="button-create-game" mat-raised-button color="accent" (click)="onClickCreateAGame()">{{messages.createGame}}</button>
  </form>
</mat-card>
